/* Some of these styles override the styles found in MyStyles.css
	These are more specific to this page
*/

  #wrap{
  	margin-bottom: 30px;
  	padding-bottom: 25px;
  }

  #login{ margin: 20px 0 0 40px;}
  #signup, #home{ margin: 20px 0 0 2px;}
  #container{
    padding: 0 0 100px 0;
    border-radius: 10px;
    width:70%;
    padding-top: 15px;
    padding-left: 6%;
    max-width: 600px;
    min-width: 200px;
  }

  #content{
    font-size: 18px;
    margin-left: 30px;
    margin: 20px 0 0 40px;
  }
#content div{
  margin: 20px 0 20px 0;
}

#status {
  color:red;
  padding-top: 10px;
}

#title{
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 40px 'BazarMedium';
  letter-spacing: 10px;
  margin-bottom: 35px;
}